body {
  margin-top: 0;
  margin-bottom: 0;
  @include container(1200px);
  font-family: 'Anton';
}
header{
  @include container(1200px);
  top:rem(0);
  z-index: 55;
  background-color: $white;
  position: fixed;
  width: 100%;
  height: rem(55);
  @include breakpoint(small){
    background-color: #19181F;
  }
}
#logo{
    float: left;
    img {
      @include breakpoint(small) {
        height: 100%;
        width: 80%;
      }
      @include breakpoint(medium){
        height: rem(140);
      }
    }
  }
#headerIcon{
  cursor: pointer;
  display: none;
  background: url("https://image.flaticon.com/icons/png/128/148/148795.png");
  background-size: rem(35);
  width: rem(35);
  height: rem(35);
  @include breakpoint(small){
      display:inline-block;
    margin-right: rem(10);
    margin-top: rem(10);
  }
}
#menu{
    float: right;
}
    #menu ul{
      display: block;
    @include breakpoint(small) {
          display: none;
          position: absolute;
          background-color: #19181F;
          margin-top: rem(0);
          right: rem(0);
          border: medium none;
          width: 46%;
      padding: rem(0) rem(10);
    }
    }
     #menu ul li {
        display: inline;
        margin-right: rem(20);
        @include breakpoint(small) {
          display: block;
          text-align: center;
          width: 100%;
          padding: 10px 0;
          margin: 0;
        }
        a {
          text-decoration: none;
          text-transform: uppercase;
          font-size: rem(15);
          color: $black;
          transition: 0.3s;
          @include breakpoint(small){
            color: $white;
          }
        }
      }
  ul li a:hover{
    color: $gray;
    transition: 0.3s;
  }
.mySlides img{
  @include span(12 of 12);
}